# ignore everything in the root except the "public/wp-content" directory.
public/*
!public/wp-content/

# track everything in the "public/wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
!public/wp-content/mu-plugins/
!public/wp-content/plugins/
!public/wp-content/themes/

# track node dependency directories
node_modules/

# do not track log files and databases
*.log
*.sql
*.sqlite

# track root files
!Project-INFO3603.pdf
!README.md

# ignore ide folder
.idea/
