# ignore everything in the public root except the important directories.
/public/wp-content/themes/*
/public/*

# directory exceptions
!public/wp-content/themes/newsup*
!public/wp-content/*
!sql/


# miscellaneous ignores
!Project-INFO3602.pdf
!README.md
snippets.php
